.contact h1 {
    text-align: center;
}
.cols {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 20px 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.col {
    flex-basis: 30%;
}
.form form input, .form form textarea {
    display: block;
    width: 100%;
    margin: 10px auto;
}